






<div id="indexcenter">





 <% if mobile_device? %>
   <img src="/assets/squarem.png"/>
        <% else %>
      <img src="/assets/square.png"/>
        <% end %>
</div>


