<div id="bio"><div id="bpic"><img src="/assets/bsilouettsm.png"/>  </div>
<p class="bios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, tellus et pulvinar ultrices, tortor sapien auctor neque, a congue quam erat vel dolor. Ut faucibus massa a leo elementum dignissim. Aliquam eleifend molestie nunc. Morbi laoreet neque sit amet ligula lobortis fringilla. Sed scelerisque nibh in nulla ornare laoreet. Cras eu vehicula lacus. Nullam pharetra magna vitae convallis consectetur. Mauris quis pellentesque elit. </p> 
</div>

<div id="bio"><div id="dpic"><img src="/assets/dsilouettsm.png"/></div>
<p class="bios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, tellus et pulvinar ultrices, tortor sapien auctor neque, a congue quam erat vel dolor. Ut faucibus massa a leo elementum dignissim. Aliquam eleifend molestie nunc. Morbi laoreet neque sit amet ligula lobortis fringilla. Sed scelerisque nibh in nulla ornare laoreet. Cras eu vehicula lacus. Nullam pharetra magna vitae convallis consectetur. Mauris quis pellentesque elit. </p> </div>